{{>header}}
<div class="content">
    {{>navigation}}
    <section id="viewCatalog">
        <div class="posts">
            {{#each posts}}
                {{>post}}
            {{else}}
                <p>No post in DB</p>
            {{/each}}
        </div>
    </section>
</div>
{{>footer}}